---
import App from "./app.jsx"


const pageTitle = "Детективная доска";
const pageDescription = "...";
---
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content={pageDescription}/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{pageTitle}</title>
</head>
<body>
    <App client:load/>
</body>
</html>


