---
const bgColor = "#434659";
const keyColor = "#ff6400";
const textColor = "#fff";
---

<div class="row mx-4">
    <div
        class="mx-auto mt-4 p-5 rounded-3 border border-3 border-white"
        style="max-width: 1170px;"
    >
        <h1 class="display-5 fw-bold" style={{ color: keyColor }}>Привет!</h1>
        <p class="col-md-8 fs-4">
            Я Новиков Николай, backend разработчик. Пишу серверные приложения на
            С++ и Java для сайтов и игр.
        </p>
        <p>
            <b>Programming languages</b>: C/C++, Java, JavaScript<br />
            <b>Microservices architecture</b>: Docker, PostgreSQL, Redis,
            RabbitMQ<br />
            <b>Monitoring</b>: Grafana, Prometheus<br />
            <b>Gamedev</b>: Unity, Unreal Engine 5, GGPO<br />
            <b>Web</b>: React, Bootstrap<br />
        </p>
    </div>
</div>
